{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{ todo_detail.name }}</h1>
        <p>
            <a href="{% url 'todo_list_update' id=todo_detail.id %}">Edit</a>
        </p>
        <p>
            <a href="{% url 'todo_list_delete' id=todo_detail.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in todo_detail.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' id=task.id %}">{{ task.task }}</a>
                    </td>
                    <td>{{ task.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}
